---
BasedOnStyle: WebKit
Language: Cpp
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: 'false'
Standard: c++14
UseTab: Never
ColumnLimit: 100
FixNamespaceComments: 'true'
NamespaceIndentation: 'None'
AlwaysBreakTemplateDeclarations: 'Yes'

SortIncludes: 'true'
IncludeCategories:
  - Regex: '"*(.hpp)"'
    Priority: 2
  - Regex: '(<SFML)'
    Priority: 3
  - Regex: '<*(.hpp)>'
    Priority: 2
  - Regex: '^((?!(.hpp)).)*$'
    Priority: 4
...
