---
BasedOnStyle: WebKit
Language: Cpp
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: 'false'
Standard: Cpp11
UseTab: Never
ColumnLimit: 100
FixNamespaceComments: 'true'
NamespaceIndentation: 'None'
AlwaysBreakTemplateDeclarations: 'Yes'
...
